div {
    display: flex;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    margin: 0px;
}

.container {
    max-width: 1450px;
    margin-left: auto;
    margin-right: auto;
}

.left {
    display: flex;
    flex: auto;
    height: 100vh;
}

.right {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100vh;
}

.right>* {
    display: flex;
    height: 25vh;
}

.right-one {
    display: flex;
    text-wrap: wrap;
    align-items: flex-end;
}

p {
    padding: 20px;
}

.right-two {
    display: flex;
    flex-direction: row;
}

input {
    width: 100%;
}

.form-container {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    max-width: 600px;
    padding: 5px;
}

label>* {
    position: relative;
}

.label {
    flex: auto;
    margin: 3px;
}

.spacer {
    width: clamp(30%, 0px);
}

form {
    display: flex;
}

.form-right,
.form-left {
    width: 50%;
    flex-wrap: wrap;
    margin: 4px;
}

.form-left {
    display: flex;
    flex-direction: row;
}

.right-three {
    height: 70px;
    align-items: center;
}

.create {
    height: 40px;
    width: 200px;
    margin: 30px;
    background-color: #596D48;
    color: white;
    font-weight: bold;
    border-radius: 6px;
}

.right-four {
    padding-left: 30px;
}