div{
    display: flex;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    margin: 0px;
}

.left{
    display: flex;
    flex: auto;
    height: 100vh;

}

.right{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100vh;
}

.right > *{
    display: flex;
    height: 25vh;
}

.right-one{
    display: inline-block;
    text-wrap: wrap;
}